* {
	vertical-align: baseline;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: none;
	padding: 0;
	margin: 0;
	line-height: 1;
}
html, body {
	height: 100%;
	width: 100%;
}
html { font-family: 'Graphik', sans-serif;font-size:100%; color: #404040; }
body { font-family: 'Graphik', sans-serif;font-size:1em;}
article, aside, details, figcaption, figure,footer, font, header, content, hgroup, menu, nav, section {
	display: block;
}
a img, :link img, :visited img {border: 0;}
a { outline: none; -moz-outline: 0; border: none; border-width: 0px; }
a:active { outline: none; -moz-outline: 0;}
a:focus { outline: none; -moz-outline: 0;}
a { color: #404040; text-decoration: none;}
a:hover { text-decoration: underline;}

li{list-style-type: none;}
table {border-collapse: collapse;border-spacing: 0;}
:focus {outline: 0;}

input, select, textarea { font-family: tahoma; color: #404040; padding: 5px;}
.clear { clear: both; font-size: 0pt; line-height: 0px; height: 0px;}

/******************/
